<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>7076130108-crsl7feaqkoe06mae31383u0sm4vimqp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.7076130108-crsl7feaqkoe06mae31383u0sm4vimqp</string>
	<key>API_KEY</key>
	<string>AIzaSyBfa7SyW8tcLUvo3zhSuMcEp_phKjs6ZDk</string>
	<key>GCM_SENDER_ID</key>
	<string>7076130108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MoXuTo.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-from-lohs</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-from-lohs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7076130108:ios:2dad6ff243ca5626014239</string>
</dict>
</plist>